version: '3' 
services:

  nginx:
    build: 
      context: nginx
    networks:
      - node-network
    container_name: nginx
    ports:
      - 8080:80
    depends_on:
      - app

  app: 
    build:
      context: nodejs
    networks:
      - node-network
    tty: true
    container_name: app
    entrypoint: "dockerize -wait tcp://db:3306 -timeout 20s docker-entrypoint.sh"
    command: "node index.js"
    # ports:
    #   - "3000:3000" # only exposed through nginx
    depends_on:
      - db

  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0 --explicit_defaults_for_timestamp
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysqls
      - ./mysql/initdb/:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - '3306:3306'
    networks:
     - node-network


networks:
  node-network:
    driver: bridge



